#*.ipynb
*.pyc
*.ipynb_checkpoints
{{cookiecutter.repo_name}}-0.0.0/*
{{cookiecutter.repo_name}}.egg-info/*
{{cookiecutter.repo_name}}/deps*
{{cookiecutter.repo_name}}/database*

build
docs
#docs/*.rst
#docs/*.py
#docs/_build
#docs/generated
#docs/_static
#docs/_templates
#docs/Makefile
update_forks.sh
dist/*
test_dataset/*
paper/latex.template
paper/.Rhistory
pub
